#vid {
    background-color: white;
    color:blue;
    font-size:30px;
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

#img {

  height: 100px;
  width: 100px;
}

#h1 {
    font-size:40px;
    margin-top: 20px;

}
#h2 {
    font-size:30px;

}

#p {
    font-size:25px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 10px 5px;
    background-color: gray;
    color: white;
    font-size: 20px;
}

.list-inline {
    font-size: 30px;
}

header#page_header nav ul li {
    list-style: none;
}
a:hover {
    background-color: turquoise;
    
}
